*~
_*
*.o
*.d
*.asm
*.sym
*.img
vectors.S
bootblock
armbootblock.elf
armbootblock.bin
entryother
initcode
initcode.out
kernel
!kernel/
kernelmemfs
mkfs
.gdbinit
armxv6.bin
a.out
.vscode/
out/
tools/mkfs